.about {
    width: 85%;
    max-width: 900px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.about_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_top .p_titulo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.5em;
    text-align: center;
}

.about_top .p_subtitulo {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 25px;
    text-align: center;
}

.about h3 {
    margin: 25px 0 10px 10px;
    font-weight: 500;
}

.container_mosaicos {
    display: flex;
    flex-wrap: wrap;
}

.container_mosaicos .mosaico {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 0 10px;
    flex: 1 1 calc(33.333% - 20px); 
    min-width: 250px;
}

.container_mosaicos .mosaico h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 8px;
}

.container_mosaicos .mosaico p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
}

@media (max-width: 768px) {
    .about_top .p_titulo {
        line-height: 1.6em;
        letter-spacing: 1px;
    }
    .about_top .p_subtitulo {
        font-size: 14px;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
}