header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.a_titulo {
    font-size: 21px;
    font-weight: 500;
}

a {
    text-transform: uppercase;
    padding: 10px 12px;
    margin: 5px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    color: #C3C3C3;
}

.a_titulo:hover {
    border: none;
    margin: 5px;
}

.hidden {
    display: none;
}

a:hover {
    border: 2px solid #0FBB57;
    margin: 3px;
}

.nav {
    transition: .5s;
    display: flex;
}

.menu_btn {
    background-color: transparent;
    border: none;
    font-size: 21px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 15px;
    display: none;
    margin: 2px;
}

.menu_btn:hover {
    border: 2px solid #0FBB57;
    margin: 0;
}

/* SCROLL Y */
.header_scroll {
    justify-content: center;
}

.nav_scroll {
    background-color: #373737b2;
    border-radius: 25px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    /* mostrar menú hamburguesa */
    .menu_btn {
        display: block;
    }

    .nav {
        position: fixed;
        width: calc(100% - 75px);
        height: 100%;
        top: 0;
        right: 0;
        flex-direction: column;
        padding: 1rem;
        transform: translateX(100%);
    }

    .nav_open {
        transform: translateX(0);
        background-color: #252525;
    }

    .nav_scroll {
        border-radius: 0;
    }

    .header_scroll {
        justify-content: space-between;
    }
}